<link rel="stylesheet" type="text/css" href="public/css/style.css">
<meta name="csrf-token" content="<%= csrfToken %>">
<header>Header</header>

<ul>
    <li><a href="/dev/">Home</a></li>
    <li><a href="/dev/todo">ToDo</a></li>
</ul>  